body{
    background: #ffffff;
    color: #ffffff;

}

.banner{
    position: relative;



}
/*.banner img{ 
    vertical-align: top;  
    position:absolute;
    margin-top: 0vw;
    width: 100%;
    height: 7vw;
    z-index: 1;
    
    
    -webkit-filter: blur(0.5vw);
    -moz-filter: blur(0.5vw);
    -o-filter: blur(0.5vw);
    -ms-filter: blur(0.5vw);
    filter: blur(0.5vw);
}*/
#bannerText{
    position: absolute;
    font-size: 1.7vw;
    text-align: center;
    margin-left: 40vw;
    text-shadow: 1vw, 1vw;
    background:#fff;
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1;
     }
     
.parallax { 
    /* The image used */
    background-image: url("source/test.jpg");
    filter: blur(5px);
    /* Set a specific height */
    height: 150px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 0.5vw;
  margin-top: 0.5vw;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 1vw;
  text-align: center;
}